@model Tuple<Pine.Data.Entities.Community, Pine.Models.Entities.PostsViewModel>

@{
    ViewData["Title"] = Model.Item1.name;
}
<a type="submit" asp-controller="Community" asp-action="CreatePost" asp-route-communityId="@Model.Item1.id" class="CreateButton">+ Create post</a>
@if (@User.Identity.Name != null && Model.Item1.communityMembers.FirstOrDefault(x => x.UserName == User.Identity.Name) != null)
{
    <a type="submit" asp-controller="Community" asp-action="JoinCommunity" asp-route-communityName="@Model.Item1.name" class="CreateButton" style="float:left;">Join community</a>
}

<center>
    <h1 style="color:#00ff21">@Model.Item1.name</h1>
    <p>@Model.Item1.description</p>
</center>
@foreach (var post in Model.Item2.posts)
{
    <partial name="./PostCard.cshtml" model=@post />
}