<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Pine</title>
    <link rel="icon" href="~/css/Images/site-logo.png">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li>
                            <button id="rgbButton" onclick="addStyles" style="position:absolute;left:10px;width:40px;height:40px;" class="RGBButton"><img src="~/css/Images/site-logo.png" width="50" height="45" style="border-radius: 25px;"></button>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Community" asp-action="AllPosts" style="margin-left:50px !important">Posts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Community" asp-action="Communities">Communities</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Shop" asp-action="Shop">Shop</a>
                        </li>
                        @if (@User.Identity.Name == null)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login" style="position:absolute;right:90px;">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register" style="position:absolute;right:10px;">Register</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Chat" asp-action="ChatsView">Chat</a>
                            </li>
                            <li>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="UserPanel" asp-route-userName="@User.Identity.Name" style="position:absolute;margin-right: 4.5%; right:0px;">@User.Identity.Name</a>
                            </li>
                            <li>
                                <a class="nav-link logoutButton" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="containerMain">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script>
        function addStyles(url) {
            if (!$("link[href='/lib/bootstrap/dist/css/bootstrap-RGB.css']").length) {
                $('<link href="' + url + '" rel="stylesheet"/>').appendTo('head');
            }
            else {
                $("link[href='/lib/bootstrap/dist/css/bootstrap-RGB.css']").remove();
            }
        }

        $(function () {
            $('#rgbButton').click(function () {
                addStyles('/lib/bootstrap/dist/css/bootstrap-RGB.css');
            });
        });
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>