@model Pine.Data.Entities.Chat
@using Pine.Data.Entities 

@{
    ViewData["Title"] = Model.name;
}

<center>
    <h1 style="color:#00ff21">@Model.name</h1>
</center>
@foreach (var message in Model.messages.OrderBy(c => c.time))
{
    if (message.senderName == User.Identity.Name)
    {
        <div class="messageSenderCard">
            <a type="submit" style="display: inline" asp-controller="Account" asp-action="UserPanel" asp-route-userName="@message.senderName">@message.senderName</a>@message.time
            <div class="messageSenderCardBody">
                @message.text
            </div>
        </div>
        <br />
    }
    else
    {
        <div class="messageCard">
            <a type="submit" style="display: inline" asp-controller="Account" asp-action="UserPanel" asp-route-userName="@message.senderName">@message.senderName</a>@message.time
            <div class="messageCardBody">
                @message.text
            </div>
        </div>
        <br />
    }
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js"></script>
}
<form asp-controller="Chat" asp-action="SendMessage" asp-route-chatId="@Model.id" method="post" style="position: fixed !important; bottom: 0px !important;">
    <partial name="./SendMessage.cshtml" model=@(new Message {}) />
</form>