@model Pine.Data.Entities.Chat

@{
    ViewData["Title"] = Model.name;
}

<center>
    <h1 style="color:#00ff21">@Model.name</h1>
</center>
@foreach (var message in Model.messages.OrderBy(c => c.time))
{
    <p><b>@message.senderName</b>@message.time</p>
    <br />
    <p>@message.text</p>
}

@*<partial name="./SendMessage.cshtml" model=@Model.Item2 />*@

<a class="CreateButton" asp-area="" asp-controller="Chat" asp-route-chatId="@Model.id" asp-action="SendMessage">Send message</a>