@model Pine.Models.Entities.OutputCommentViewModel

<div class="commentCard">
    <div class="commentHeader">
        Comment by
        @if (Model.commentaor == null)
        {
            @Html.DisplayName("Anonymous");
        }
        else
        {
            <a type="submit" asp-controller="Account" asp-action="UserPanel" asp-route-userName="@Model.commentaor.UserName">@Html.DisplayFor(c => c.commentaor.UserName)</a>
        }
    <p style="float:right">@Html.DisplayFor(c => c.timeOfCreation)</p>
    </div>
    <div class="commentBody">
        <img id="commentImg" onclick="resizeCommentImg(this)" onerror="this.style.display='none'" style="height:187px; width:280px; float:right;" frameborder="0" src="data:image/jpeg;base64,@Convert.ToBase64String(@Model.img)" />
        @Html.DisplayFor(c => c.content)
    </div>
</div>

<script>
    function resizeCommentImg(img) {
        if ($(img).hasClass('enlarged')) {
            $(img).removeClass('enlarged');
            $(img).stop().animate({ width: 280, height: 187 }, 100);
        } else {
            $(img).addClass('enlarged')
            $(img).stop().animate({ width: 1000, height: 700 }, 100);
        }
    }
</script>