@model Pine.Models.Entities.OutputPostViewModel

<div>
    <!--dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.userName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.userName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.uploadDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.uploadDate)
        </dd>
    </dl-->
    <div class="card border-secondary mb-3" style="margin-top: 2.5%; color: black;">
        <div class="card-header">
            Post by @if (Model.userName == null)
            {
                @Html.DisplayName("Anonymous");
            }<a type="submit" asp-controller="Account" asp-action="UserPanel" asp-route-userName="@Model.userName">@Html.DisplayFor(model => model.userName)</a> <div style="float: right;">@Html.DisplayFor(model => model.uploadDate)</div>
        </div>
        <div class="card-body">
            <img onerror="this.style.display='none'" min-width="150" min-height="150" style="max-height: 300px !important; max-width: 300px !important; float:right;" frameborder="0" src="data:image/jpeg;base64,@Convert.ToBase64String(@Model.img)" />
            <h4 class="card-title">@Html.DisplayFor(model => model.title)</h4>
            <p class="card-text" style="white-space: pre-line;">@Html.DisplayFor(model => model.description)</p>
            @if (User.Identity.Name == Model.userName && User.Identity.Name != null)
            {
                <form method="post" asp-controller="Community" asp-action="DeletePost">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <input type="hidden" asp-for="title" class="form-control" />
                    </div>
                    <div class="form-group">
                        <input type="hidden" asp-for="description" class="form-control" />
                    </div>
                    <div class="form-group">
                        <input type="hidden" asp-for="tags" class="form-control" />
                    </div>
                    <div class="form-group">
                        <input type="hidden" asp-for="id" class="form-control" />
                    </div>
                    <div class="form-group">
                        <input type="hidden" asp-for="userName" class="form-control" />
                    </div>
                    <div class="form-group">
                        <input type="hidden" asp-for="uploadDate" class="form-control" />
                    </div>
                    <div class="moderationButtons">
                        <button type="submit" class="btn btn-danger">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
                            </svg>
                        </button>
                    </div>
                </form>
                <form method="get" asp-controller="Community" asp-action="EditPostView">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <input type="hidden" asp-for="title" class="form-control" />
                    </div>
                    <div class="form-group">
                        <input type="hidden" asp-for="description" class="form-control" />
                    </div>
                    <div class="form-group">
                        <input type="hidden" asp-for="tags" class="form-control" />
                    </div>
                    <div class="form-group">
                        <input type="hidden" asp-for="id" class="form-control" />
                    </div>
                    <div class="form-group">
                        <input type="hidden" asp-for="userName" class="form-control" />
                    </div>
                    <div class="form-group">
                        <input type="hidden" asp-for="uploadDate" class="form-control" />
                    </div>
                    <div class="moderationButtons">
                        <button type="submit" class="btn btn-info">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                            </svg>
                        </button>
                    </div>
                </form>
            }
        </div>
    </div>
</div>
<div>

</div>
