@*@model Pine.Data.Entit*@

@*@{
        ViewData["Title"] = Model.creator;
    }

    <h1 style="color:aqua">@Html.DisplayFor(model => model.creator.NormalizedUserName)</h1>

    <h2 style="color:aqua">Posts:</h2>
    @Html.DisplayFor(Model => Model.)

    <h2 style="color:aqua">Listings:</h2>
    @Html.DisplayFor(model => model.listings)


    <h3 style="color:aqua">@Html.DisplayFor(model => model.postId)</h3>*@

@model Pine.Models.Entities.PostsViewModel
@{
    ViewData["Title"] = "User posts";
}

<h1>@User.Identity.Name's pofile</h1>

<br />
<br />
<br />
<div>      
    <div class="transbox">
      
        <br />
        @foreach (var post in Model.posts.Where(p => p.userName == User.Identity.Name))
         {
            <partial name="./UserModelPostCard.cshtml" model=@post />
         }
    </div>
    
</div>


